{%  extends 'menu.html' %}

{% block titulo %}
    <title>{{ juego.0 }}</title>
{% endblock %}

{% block encabezado %}
{% endblock %}

{% block contenido %}
<div class="container" style="margin-top:30px">

    <div class="col-sm-9">
      <h2>{{ juego.0 }}</h2>
        <table>
            <tr>
                <td><div class="img-circle"><img src="{{ juego.6 }}"></div></td>
                <br>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <td>
                    <p><b>Plataformas:</b> {{ juego.1 }}</p>
                    <p><b>Desarrollador:</b> {{ juego.2 }}</p>
                    <p><b>Generos:</b> {{ juego.2 }}</p>
                    {% if juego.5 != '-' %}
                        <p><b>Número de jugadores:</b> {{ juego.5 }}</p>
                    {% endif %}
                    <a class="btn btn-primary" href="{{ juego.4 }}">Enlace original</a>
                    <a class="btn btn-primary" href="/news/filtrado/?juego={{ juego.0 }}">Ver noticias de este juego</a>

                </td>
            </tr>
        </table>
    </div>
</div>


{% endblock %}