{%  extends 'menu.html' %}

{% block titulo %}
    <title>Filtro de juegos</title>
{% endblock %}

{% block encabezado %}
{% endblock %}

{% block contenido %}

    <style>
        #cover {
            background-size: cover;
            height: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            position: relative;
        }

        #cover-caption {
            width: 100%;
            position: relative;
            z-index: 1;
        }

        form:before {
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            background-color: rgba(0,0,0,0.3);
            z-index: -1;
            border-radius: 10px;
        }
    </style>


    <section id="cover" class="min-vh-100">
        <div id="cover-caption">
            <div class="container">
                <div class="row text-black">
                    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                        <form method="get" action="/get_4_games/">
                            <h4 class="display-5 py-3 text-truncate">Buscar 4 juegos similares a:</h4>
                                <div class="px-2">
                                    {{ form }}
                                </div>
                                <br>
                            <button type="submit" class="btn btn-primary">Recomendar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
