{%  extends 'menu.html' %}

{% block titulo %}
    <title>{{ juego.titulo }}</title>
{% endblock %}

{% block encabezado %}
{% endblock %}

{% block contenido %}
<div class="container" style="margin-top:30px">

    <div class="col-sm-9">
      <h2>{{ juego.titulo }}</h2>
        <table>
            <tr>
                <td><div class="img-circle"><img src="{{ juego.url_imagen }}"></div></td>
                <br>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <td>
                    <p><b>Plataformas:</b> {{ plataformas }}</p>
                    <p><b>Desarrollador:</b> {{ juego.desarrollador.nombre }}</p>
                    <p><b>Generos:</b> {{ generos}}</p>
                    {% if juego.jugadores.jugadores != '-' %}
                        <p><b>Número de jugadores:</b> {{ juego.jugadores.jugadores }}</p>
                    {% endif %}
                    <a class="btn btn-primary" href="{{ juego.url_juego }}">Enlace original</a>
                    {% if noticias %}
                        <a class="btn btn-primary" href="/news/filtrado/?juego={{ juego.titulo }}">Ver noticias de este juego</a>
                    {% endif %}

                </td>
            </tr>
        </table>
    </div>
</div>

    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
        <form method="post">
            <h4 class="display-5 py-3 text-truncate">Su puntuación del juego:</h4>
                <div class="px-2">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-primary">Puntuar</button>
                </div>
        </form>
    </div>

{% endblock %}