{%  extends 'menu.html' %}

{% block titulo %}
    <title>Lista de noticias</title>
{% endblock %}

{% block encabezado %}
    <h1>Lista de noticias</h1>

{% endblock %}

{% block contenido %}
    <h4>Tenemos un total de {{ cantidad }} noticias registradas:</h4>
    <br>

    {% for noticia in noticias %}
        <h3><a href="{{ noticia.2 }}">{{ noticia.0 }}</a></h3>
        <ul>
            <li>Escritor: {{ noticia.1 }}</li>
            {% if noticia.3 == '-' %}
                <li>Juego: {{ noticia.3 }}</li>
            {% else %}
                <li>Juego: <a href="/games/{{ noticia.3 }}">{{ noticia.3 }}</a></li>
            {% endif %}

        </ul>
        <hr>
    {% endfor %}
{% endblock %}
